/* ----------- RESET ------------- */


html, body, h1, h2, h3, p, a, ul, ol, li {
  padding: 0;
  border: 0;
  margin:0;
}

html {
  font-size: 16px;
}

body {
  font-size: 62.5%;


}

html, body {
  height: 100%;
	-webkit-overflow-scrolling:touch;
}

/* ----------- FLEXBOX ------------- */
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.header, .content, .footer {
  flex: 1 100%;
}

.container {
  width: 75%;
  margin:0 auto;


}

/* ----------- FONTS ------------- */


@font-face {
font-family: 'cheddarjack';
src: url('fonts/cheddarjack.ttf');
}

/* ----------- HEADER ------------- */

.header {
  background-color: #61B3C1;
  padding: 15px;

}


.header h1 {
  font-size: 5em;
  line-height: 0.9em;
  text-shadow: 2px 2px 8px #102124;
  float: left;
  margin-bottom: 5px;


}

.header h1 a {
  text-decoration: none;
  font-family: cheddarjack;
  font-weight: normal;
  color: #ffffff;
  line-height: 0em;


}

.nav {
  list-style: none;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;

}

.nav ul {
  margin-top: 15px;

}

.nav a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6em;
  text-decoration: none;
  color: #ffffff;
  padding: 2em;
}



.active{
  background-color: #F7E1CF;
  color: #3B3D3F !important;;
}

  /*button icon responsive*/

  .nav li {
    text-decoration: none;
    display: inline;
    margin-left: -3px;


  }
  .nav .menuicon {
    display: none;
  }


.nav .menuicon img {
  width:20px;
}

  /*end button icon responsive*/




/* ----------- CONTENT ------------- */
.content {
  background-color: #F7E1CF;

}

/* ----------- CONTENT INDEX ------------- */

.welcome {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.welcome img {
  width: 100%;
}

/* ----------- CONTENT ABOUT ------------- */

.aboutinfo, .aboutbackground {
    list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;

}

.aboutinfo {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  margin-top: 50px;
  font-size: 3.3em;
  font-family: 'Pacifico', cursive;
  color: #303030;

}

.aboutbackground img {
  width: 50%;
}


/* ----------- CONTENT WORK ------------- */
.categories {
  list-style: none;
  padding:30px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;

}

.categories li {
  text-decoration: none;
  display: inline;

}

.categories a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.9em;
  text-decoration: none;
  color: #3B3D3F;
  padding: 0.6em;
  opacity: 0.7;
}

.categories a:hover, .nav a:active{
  opacity: 1;
}

.nav .current a {
	background: #999;
	color: #fff;
}

.active2{
  opacity: 1 !important;
  font-size: 2.5em !important;
}


.masonry {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; /*flex-flow: <‘flex-direction’> || <‘flex-wrap’>*/
  align-items: flex-start;

  padding-bottom: 40px;
}

.masonry img {
  width:22%;
  transition: .8s opacity;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.masonry:hover img { opacity: 0.3; }
.masonry:hover img:hover { opacity: 1; }


/* ----------- CONTENT CONTACT ------------- */

.message, .contactinfo h2, .contactinfo p {
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;



}

.contactinfo {
  margin: 0 auto;
  width: 60%;
  color: #303030;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 30px;
  text-align: center;

}

.contactinfo h2 {
  padding: 50px 0 50px 0;
  font-size: 6em;
  font-family: 'Pacifico', cursive;

}

.contactinfo p {
  font-size: 2.5em;
}



/* ----------- FOOTER ------------- */
.footer {
  background-color: #303030;

}

.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding: 10px 20px;

}

.social img {
  width: 5em;
  height: 5em;
  margin: 1em;

}

/******************************************/
/* -----------MEDIA QUERIES ------------- */
/******************************************/



@media only screen and (max-width : 979px) {

  /****** HEADER ******/

.nav {
  justify-content: flex-end;
}

.nav ul {
  margin-top: 16px;

}

.nav a {
  font-size: 1.3em;
  padding: 2.5em 1.5em 2.5em 1.5em ;

}

.nav a:hover, .nav a:active{
  background-color: #F7E1CF;
}

.active{
  background-color: #F7E1CF !important;

}

  .nav li {
    display: inline;
    margin: 0;
    margin-left: -3px;

  }
  .nav .menuicon {
    display: none;
  }

  /****** CONTENT WORK ******/


.categories {
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.categories li {
  text-decoration: none;
  display: inline;
}

.categories a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.4em;
  opacity: 0.7;
}

.categories a:hover, .nav a:active{
  opacity: 1;
}

.nav .current a {
	background: #999;
	color: #fff;
	border-radius: 5px;
}

.active2{
  opacity: 1 !important;
  font-size: 2.2em !important;
}




  .masonry img {
    width: 30%;
    margin: 10px auto;
  }
  
  
  /****** CONTENT ABOUT ******/
  
  .aboutinfo {
    width: 80%
  }

  /****** CONTENT CONTACT ******/
  
  .contactinfo {
    width: 100%;
  }
  
  .message img {
    width: 100%;
  }


}

@media only screen and (max-width : 767px) {

  /****** HEADER ******/

  .header h1 {
    font-size: 7em;
    line-height: 0.9em;
    text-shadow: 2px 2px 8px #43454D;
    float: none;
    margin-bottom: 5px;
  }

  /****** CONTENT WORK ******/


  .container {
    width:90%;
    text-align:center;
  }

  /****** .nav responsive menu ******/

  .nav {
    list-style: none;
    margin: 0px;
    display: flex;
    justify-content: center;

    margin: 13px;
  }

  .nav ul {
    text-align: center;
  }


  .nav li {
    display: inline; /* hide all <li> items */
    padding: 10px;

  }
  .nav .menuicon {
    display: none; /* show only current <li> item */
  }


  .nav a {
    font-size: 1 em;
    padding: 10px 20px;
  }

.nav a:hover, .nav a:active{
  background-color: transparent;
  box-shadow: none;
  border-radius: 50px;
}

.active{
  box-shadow: none;
  border-radius: 50px;


}

  /****** .categories responsive menu ******/

  .categories {
    min-height: 40px;
  }
  .categories ul {
    width: 180px;
    padding: 5px 0;
    background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  .categories li {
    display: none; /* hide all <li> items */
    margin: 0;
  }
  .categories .current {
    display: block; /* show only current <li> item */
  }
  .categories a {
    display: block;
    padding: 5px;
    text-align: center;
    color: black;
  }
  .categories .current a {
    background: none;
    color: #303030;
  }

  /****** on nav hover ******/

  .categories ul:hover {
    background-image: none;
  }
  .categories ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .categories ul:hover .current {
    background: url(images/icon-check.png) no-repeat 10px 7px;
  }

  /****** GALLERY WORK ******/

  .masonry img {
    width: 46%;
  }

  /****** CONTENT CONTACT ******/

  .message img {
    width: 100%;
    margin-bottom: 20px;
  }

}


@media only screen and (max-width : 480px) {

  /****** HEADER ******/

  .header h1 {
    font-size: 5.5em;
  }

  /*.nav responsive menu*/

  .nav {
    justify-content: center;

  }

  .nav ul {
    width: 100%;
    text-align: center;
  }


  .nav li {
    display: none; /* hide all <li> items */
    margin: -10px;
  }
  .nav .menuicon {
    display: block; /* show only current <li> item */
  }
  .nav a {
    display: block;
    padding: 5px;
  }
  .nav .menuicon a {
    background: none;
    color: #666;
  }

  .active {
  box-shadow: none;
  }

  /****** on nav hover ******/

  .nav ul:hover {
    background-image: none;
  }
  .nav ul:hover li {
    display: block;
  }
  .nav ul:hover .menuicon {
    background: url(images/icon-check.png) no-repeat 10px 7px;
  }


  /****** CONTENT ABOUT ******/

  .aboutinfo {
    font-size: 2.5em;
    width: 90%;
  }

  .aboutbackground img {
    width: 100%;
  }

  /****** GALLERY WORK ******/

  .masonry img {
    width: 100%;
  }

  /****** CONTENT CONTACT ******/

  .message img {
    width: 100%;
    margin: 15px 0 15px 0;
  }

  .contactinfo {
    width: 90%;
    margin:0 auto;
  }

  .contactinfo h2  {
    font-size: 4em;
    padding: 30px 0 40px 0;
  }

  .contactinfo p {
    font-size: 2em;
  }


}
